{{define "title"}}View Category{{end}}

{{define "main"}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{.Category.Title}}</h5>
    <div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" {{if .Category.Enabled}} checked {{end}}>
  <label class="form-check-label" for="flexSwitchCheckDefault">Enabled</label>
</div>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

{{end}}